.main-section {
    display: block;
}

button {
    color:white;
    background-color: blueviolet;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-evenly
}

.heading {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.question {
    display: none;
}

.question-one {
    display: none;
}

.question-two {
    display: none;
}

.question-three {
    display: none;
}

.end-screen {
    display: none;
}

.question-four {
    display: none;
}

.question-five {
    display: none;
}

.question-six {
    display: none;
}

.leaderboard {
    display: none;
}

.high-scores {
    display: none;
}