.main-section {
    display: block;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
}

button {
    color:white;
    background-color: blueviolet;
    cursor: pointer;
    gap: 3em;
}
.high-score-button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.header {
    margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question button {
    display: flex;
    justify-content: center;
    align-items: center;
}


.end-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.high-scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#play-again {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: aliceblue;
}


ul {
    list-style-type: nu;
}


ul li {
    margin:0 0 10px 0; 
}
.question {
    display: none;
}

.question-one {
    display: none;
}

.question-two {
    display: none;
}

.question-three {
    display: none;
}

.end-screen {
    display: none;
}

.question-four {
    display: none;
}

.question-five {
    display: none;
}

.question-six {
    display: none;
}

.leaderboard {
    display: none;
}

.high-scores {
    display: none;
}

.wrong {
    display: none;
}

.correct-answer {
    display: none;
}